$chat-w: 340px;
$chat-messages-h: 250px;
$spacing-default: 10px;
$chat-input-h: 44px;
$window-name-h: 33px;
$author-photo-w: 42px;

$color-text: #444;
$color-border: #ddd;
$color-subtitle-bg: #d3d3d3;
$color-window-bg: #535353;
$color-window-text: #fff;
$color-window-contorl: #a9a9a9;
$color-message-bg: #f1f1f1;
$color-message-active-bg: #eff5ba;
$color-chat-input-bg: #f6f6f6;